@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1360px;
  margin: auto;
}

.container {
  padding: 24px;
  min-height: 100vh;
}